{  
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "angular": true,
    "ApplicationConfiguration": true
  },
  "extends": "eslint:recommended",
  "rules" : {
    "no-console" : 0,
    "prefer-const" : 1,
    "strict" : 2
  }
}
